* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 65%;
  background-color: #fafdd6;
}

.table {
  height: 100%;
  margin: 10px 10px;
}

.main {
  max-width: 100rem;
  height: 45rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Table */
.table-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.table-content h2 {
  font-size: 30px;
}

.table-content table {
  width: 100%;
  border-collapse: collapse;
}

.table-content table,
th,
td {
  border: 1px solid #333;
}

.table-td {
  font-size: 25px;
  font-weight: bold;
}

/* Button */
.btn-container {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #325288;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-form input {
  padding: 5px;
  border-radius: 3px;
}

.label-speed {
  margin-top: 15px;
}

.col-container {
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
}

.top-table {
  padding-top: 10px;
}

.running-container {
  display: flex;
  justify-content: center;
}

.running {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 15px;
  background-color: antiquewhite;
}

.filter-section {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 223, 223);
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.filter-line {
  display: flex;
  justify-content: space-between;
}
.filter-date {
  display: flex;
  justify-content: space-between;
}

.name-device {
  display: flex;
  justify-content: space-between;
}
.plc-status {
  color: rgb(43, 199, 43);
  font-size: 16px;
}

.pc-status {
  color: rgb(209, 49, 49);
  font-size: 16px;
}

.connect,
.disconnect {
  width: 135px;
  height: 45px;
  background-color: #fff;
  margin-bottom: 10px;
}

.status-container {
  display: flex;
  justify-content: center;
}

.icon-connect {
  width: 18px;
  margin-right: 5px;
}

.select-options {
  width: 135px;
  height: 35px;
  margin-bottom: 10px;
}

.input-date {
  width: 135px;
  height: 35px;
}

.search-btn {
  width: 135px;
  height: 35px;
}
