* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  padding-top: 70px;
  /* padding-left: 60px; */
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

/* --------------TABLE-------------- */
.table {
  height: 100%;
  background-color: #fafdd6;
  margin: 10px 10px;
}

.main {
  /* display: flex; */
  padding: 0 40px;
}
/* Table */
.table-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.table-content h2 {
  font-size: 30px;
}

.table-content table {
  width: 100%;
  border-collapse: collapse;
}

.table-content table,
th,
td {
  font-size: 13px;
  border: 1px solid #333;
  text-align: center;
}

.table-content table,
tr,
td {
  font-size: 20px;
  font-weight: bold;
}

/* Button */
.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #325288;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  padding: 20px;
  z-index: 10;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.input-form input {
  padding: 5px;
  border-radius: 3px;
}

.label-speed {
  margin-top: 15px;
}

.col-container {
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: aquamarine;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 60px;
  background-color: #333;
  color: #fff;
  padding-top: 5px;
}

/* Filter */
.filter-bar {
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.select {
  position: relative;
  width: 200px;
}

@media (max-width: 500px) {
  .select {
    width: 95px;
  }
}

.select select {
  -webkit-appearance: none;
  padding: 5px 0px 5px 7px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select-filter {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 4px; */
}
.filter-btn {
  padding: 5px 20px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background: #4b7be5;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.filter-1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.filter-2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 850px) {
  .filter-1 {
    flex-direction: column;
  }
  .filter-2 {
    flex-direction: column;
    align-items: flex-end;
  }
  .select-filter {
    height: 100%;
    /* padding: 10px; */
  }
  .filter-1 label:first-child {
    padding-bottom: 10px;
  }
  .filter-2 label:first-child {
    padding-bottom: 10px;
  }
}

.filter-btn {
  padding: 5px 20px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background: #4b7be5;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
